TOKEN_KEEP_ALIVE=24hr
JWT_SECRET_KEY='yourSecretKey'

MONGO_ATLAS_URI='mongoAtlasUriString'
PORT=8080
SENDGRID_API_KEY='yourSendGridApiKey'
ADMIN_EMAIL='theAdminsEmail'

AWS_S3_BUCKET_NAME='coderhouse-ecommerce'
AWS_ACCESS_KEY_ID='yourAwsKeyID'
AWS_SECRET_ACCESS_KEY='yourAwsSecretAccessKey'
AWS_REGION='yourAwsRegion'